In [1]:
from datetime import datetime
from pprint import pprint
from itertools import *

import textblob
from textblob import TextBlob

import pandas as pd
pd.set_option('display.max_columns', None)
# import swifter

import spacy
nlp = spacy.load('en_core_web_lg')

In [2]:
# EntityTypes = ["PERSON", "NORP", "ORG", "FAC", "GPE", "LOC", "PRODUCT", "EVENT", "WORK_OF_ART"]

In [3]:
df = pd.read_csv(r"D:\Work\Coding\Data\some-news.csv")
df = df.drop("Unnamed: 0", axis=1)
df = df.drop("Unnamed: 0.1", axis=1)
df['article'] = df['article'].astype(str)

In [4]:
def getEnts(i):
    doc = nlp(i)
    entities = {key: list(set(map(lambda x: str(x), g))) for key, g in groupby(sorted(doc.ents, key=lambda x: x.label_), lambda x: x.label_)}
    
    return entities

def addEnts(dataframe, columnName):

    extracted = []

    for i, row in dataframe.iterrows():
        ents = getEnts(row[columnName])
        extracted.append(ents)

    dataframe["ExtractedEnts"] = extracted
    
    return dataframe

def splitEnts(dataframe):
    df_temp = pd.json_normalize(dataframe['ExtractedEnts'])
    dataframe = pd.concat([dataframe, df_temp], axis=1)
    
    return dataframe

In [5]:
starttime = datetime.now()
print(starttime)

df = addEnts(df, 'article')

print(f"{datetime.now() - starttime}")

0:01:30.779538 seconds

In [6]:
starttime = datetime.now()
print(starttime)

df = splitEnts(df)

print(f"{datetime.now() - starttime}")

0:00:00.043999 seconds

In [7]:
starttime = datetime.now()
print(starttime)

df['sentiment'] = df['article'].apply(lambda article: TextBlob(article).sentiment)
print(f"Added Sentiment Analysis in {datetime.now() - starttime} seconds")

2021-05-21 00:21:03.058265
Added Sentiment Analysis in 0:00:03.087683 seconds

In [8]:
starttime = datetime.now()
print(starttime)

df['sentiment'] = pd.DataFrame(df['sentiment'].to_list(), columns=['Polarity','Subjectivity'])

print(f"Split columns in {datetime.now() - starttime} seconds")

2021-05-21 00:21:09.410078
Split columns in 0:00:00.007000 seconds

In [9]:
df

     Polarity  Subjectivity
0    0.059539      0.507407
1    0.062381      0.609048
2   -0.145256      0.547691
3    0.032483      0.318770
4    0.134259      0.562037
..        ...           ...
990  0.058631      0.441964
991  0.154624      0.534403
992  0.277431      0.494097
993 -0.083333      0.500000
994 -0.021886      0.387542

[995 rows x 2 columns]

In [ ]:
# df.to_csv("Some News (NER Tagged).csv")